<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated execution_metamodel -->
      <package
            uri="http://www.example.org/MetamodelExecution"
            class="MetamodelExecution.Execution_metamodelPackage"
            genModel="model/execution_metamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated execution_metamodel -->
      <package
            uri="http://www.example.org/protocolosv2"
            class="protocolosv2.Protocolosv2Package"
            genModel="model/execution_metamodel.genmodel"/>
   </extension>

</plugin>
